{% extends "app_core/base.html" %}

{% block content %}
<h1>Dashboard</h1>

<ul>
    <li><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'accounts:profile_detail' %}">My Profile</a></li>

    {% if request.user.is_superuser or "Admins" in request.user.groups.all.values_list_name %}
        <li class="admin-link">
            <a href="{% url 'accounts:group_manager' %}" style="color: #d9534f; font-weight: bold;">
                ⚙️ Group Manager
            </a>
        </li>
    {% endif %}
</ul>
{% endblock %}
