[run]
branch = True
parallel = True

# IMPORTANT: leave "source" empty so pytest-cov controls it
source =

omit =
    */migrations/*
    */tests/*
    */__init__.py
    */conftest.py
    manage.py
    settings/live.py
    settings/test.py


[report]
show_missing = True
skip_covered = False

[html]
directory = coverage_html
