# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
db.sqlite3
*.sqlite3
# Changed from */staticfiles_collected/ to be more specific
staticfiles_collected/
media/

# Environment & Secrets
.env
.env*
!.env_test
!.env_dev
!.env_live
# (Note: Use the ! lines only if you WANT the templates tracked,
# otherwise keep .env* to hide everything)

# Development Tools
.vscode/
.idea/
.DS_Store

# Distribution / Build
*.egg-info/
dist/
build/
.eggs/
venv/
venv-*/

.ruff*
.ruff_cache/*
