<!-- BASIC INFO -->
<div class="card" style="margin-top:1rem;">
    <div class="status-line">
        <div class="name">Client IP</div>
        <div>{{ client_ip }}</div>
    </div>
    <div class="status-line">
        <div class="name">Remote Client</div>
        <div>{{ remote_ip }}</div>
    </div>
    <div class="status-line">
        <div class="name">Server Hostname</div>
        <div>{{ host_identity.hostname }}</div>
    </div>
    <div class="status-line">
        <div class="name">Server IP</div>
        <div>{{ host_identity.ip }}</div>
    </div>
</div>
